
@import "mixins";


*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;

}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile{
        height: auto;
        padding-top: 70px;
    }
  

    &_para{
        @include mobile{
            width: 60%;
              text-align: center;

        }

        &_head{
           
            
            margin-bottom: 15px;
            @include mobile{
                  font-size: 40px;

            }
        }
    }

    &_container{
        width: 21%;
        text-align: center;
        margin-bottom: 70px;
        @include mobile{
            width: 60%;
            

        }

        &_text{
            font-size: 12px;
            opacity: 0.6;

            @include mobile{
                font-size: 14px;

          }

        }
    }

     &_info{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        
        @include mobile{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 40px;
            margin-bottom: 20px;
           
      }

        &_detail{
            width: 65%;
            text-align: center;
            @include mobile{
                width: 100%;
               
    
          }

            .img{
               margin-bottom: 10px;
                &_photo{
                    height: 80px;
                    border-radius: 50%;
                }
            }
            .icon{
                margin-bottom: 10px;
              &_star{
                height: 14px;
              }
            }
            &_sentence{
                font-size: 12px;
                opacity: 0.6;
                margin-bottom: 15px;
                @include mobile{
                    font-size: 14px;
                }
            }
            &_mini{
                font-size: 12px;
                color: #23A6F0;
                margin-bottom: 5px;
            }
            &_micro{
                font-size: 11px;
                opacity: 0.5;


            }


        }
     }

     
}