@import "mixins";


*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;

}

.main{

    max-width: 100%;
  height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    @include mobile{
        height:auto ;
        

    }

    &__nohead{
        @include lg{
            display: none;
        }
        @include desktop{
            display: none;
        }
        @include tablet{
            display: none;
        }
       
        @include mobile{
            display: block;
            width: 50%;
            text-align: center;
            margin-bottom: 10px;
            
        }


    }
    
    &__notext{
        @include lg{
            display: none;
        }
        @include desktop{
            display: none;
        }
        @include tablet{
            display: none;
        }
        @include mobile{
            display: block;
            width: 55%;
            text-align: center;
            margin-bottom: 30px;
        }
       

       

    }
   
    &__head{
        margin-bottom: 20px;

        @include mobile{
            display: none;
        }
        
    }
    &__iframe{
        margin-bottom: 30px;
        display: flex;
        @include mobile{
        max-width: 100%;
        }
        
      
    
      
    }
    &__container{
        width: 60%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        @include mobile{
           width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;     
            row-gap: 20px;     
            }
            

        .div{
            width: 80%;
            height: auto;
            border: 1px solid lightgray;
            padding: 10px;
            @include mobile{

                width: 60%;
                margin: 0 auto;
                
            }

            &_star{
                 margin-bottom: 5px;

                &_icon{
                    height: 15px;
                

                }
            }
            &_text{
                font-size: 12px;
                opacity: 0.8;
                margin-bottom: 5px;

            }
            &_info{
                width: 100%;
                height: auto;
                display: flex;
                column-gap: 20px;
                &_resim{
                    &_sekil{
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                &_metn{
                    &_mini{
                        font-size: 12px;
                        color: #76C7F5;
                        margin-bottom: 5px;
            
                    }
                    &_micro{
                        font-size: 12px;
                        font-weight: bold;
            
                    }
                }                
            }
        }
    }
}